
body{
    background-color:#BCEAD5;

}
  
  #app{
    border-radius:3px;
    margin:15px;
    background-color: #DEF5E5;
    border: 1px solid #e5e5e5;
  }

.tab{
  min-height:50px;
  width:100%;
  padding:25px;
  font-family:sans-serif;
}

ul.inline{
  list-style:none;
  padding: 0;
  margin-bottom:0;
  

}